@using MVC.ViewModels;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CourseResultViewModel
<div style="color:@Model.Color">
<h1>The Result</h1>
<h2>TraineeName : @Model.traineeName</h2>
<h2>CourseName : @Model.CourseName</h2>
<h2>Degree : @Model.degree</h2>
<h2>Status : @Model.Status</h2>
</div>