@using MVC.ViewModels;
@model List<CourseResultViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Degree of Trainee : @Model.FirstOrDefault().traineeName</h1>
<table class="table table-bordered table-hover">
    <tr>
       
        <th>CourseName </th>
        <th>Degree</th>
        <th>Status</th>
    </tr>
    @foreach (CourseResultViewModel q in Model)
    {
        <tr style=" background-color :@q.Color">
          
            <td>@q.CourseName</td>
            <td>@q.degree</td>
            <td>@q.Status</td>
        </tr>
    }
  
</table>
